
 <nav aria-label="breadcrumb" class="breadcrumb-row" style="margin-left: -340px; margin-top: 10px;">
    <div class="container">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
            <li class="breadcrumb-item"><a href="index.html">Car Collections</a></li>
            <li class="breadcrumb-item">SMART GT AA-211</li>
        </ul>
    </div>
</nav> 


<div class="car-detail-container mt-5">
    

	<div class="card">
		<div class="card-body">
			<div class="row">

				<div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
					<div id="carouselExampleInterval" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner h-50">
							<div class="carousel-item active" data-interval="10000">


								<div class="top-vidoe-image d-block">
									<img class="d-block w-100 h-50" src="../../../assets/images/product/item/item1.jpg"
										alt="Second slide">

								</div>

							</div>
							<div class="carousel-item" data-interval="2000">

								<div class="top-vidoe-image d-block ">
									<img class="d-block w-100 h-50" src="../../../assets/images/product/item/item2.jpg"
										alt="Second slide">

								</div>

							</div>
							<div class="carousel-item">

								<div class="top-vidoe-image d-block ">
									<img class="d-block w-100 h-50" src="../../../assets/images/product/item/item3.jpg"
										alt="Second slide">

								</div>
							</div>
						</div>
						<a class="carousel-control-prev" href="#carouselExampleInterval" role="button"
							data-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<!-- <span class="sr-only">Previous</span> -->
						</a>
						<a class="carousel-control-next" href="#carouselExampleInterval" role="button"
							data-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<!-- <span class="sr-only">Next</span> -->
						</a>
					</div>
					<hr class="my-4">

					<!--Carousel Wrapper-->
					<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

					

						<!--Slides-->
						<div class="carousel-inner" role="listbox">

							<!--First slide-->
							<div class="carousel-item active">

								<div class="row">
									<div class="col-md-2">
										<div class="card mb-2">
											<img class="card-img-top" src="../../../assets/images/product/thumb/thumb1.jpg"
												alt="Card image cap">
										</div>
									</div>

									<div class="col-md-2 clearfix d-none d-md-block">
										<div class="card mb-2">
											<img class="card-img-top" src="../../../assets/images/product/thumb/thumb1.jpg"
												alt="Card image cap">
										</div>
									</div>

									<div class="col-md-2 clearfix d-none d-md-block">
										<div class="card mb-2">
											<img class="card-img-top" src="../../../assets/images/product/thumb/thumb1.jpg"
												alt="Card image cap">
										</div>
									</div>

									<div class="col-md-2 clearfix d-none d-md-block">
										<div class="card mb-2">
											<img class="card-img-top" src="../../../assets/images/product/thumb/thumb1.jpg"
												alt="Card image cap">
										</div>
									</div>

									<div class="col-md-2 clearfix d-none d-md-block">
										<div class="card mb-2">
											<img class="card-img-top" src="../../../assets/images/product/thumb/thumb1.jpg"
												alt="Card image cap">
										</div>
									</div>

									<div class="col-md-2 clearfix d-none d-md-block">
										<div class="card mb-2">
											<img class="card-img-top" src="../../../assets/images/product/thumb/thumb1.jpg"
												alt="Card image cap">
										</div>
									</div>
								</div>

							</div>
							<!--/.First slide-->

							<!--Second slide-->
							<div class="carousel-item">

								<div class="row">
									<div class="col-md-2 ">
										<div class="card mb-2">
											<img class="card-img-top" src="../../../assets/images/product/thumb/thumb2.jpg"
												alt="Card image cap">
										</div>
									</div>

									<div class="col-md-2 clearfix d-none d-md-block">
										<div class="card mb-2">
											<img class="card-img-top" src="../../../assets/images/product/thumb/thumb2.jpg"
												alt="Card image cap">
										</div>
									</div>

									<div class="col-md-2 clearfix d-none d-md-block">
										<div class="card mb-2">
											<img class="card-img-top" src="../../../assets/images/product/thumb/thumb2.jpg"
												alt="Card image cap">
										</div>
									</div>

									<div class="col-md-2 clearfix d-none d-md-block">
										<div class="card mb-2">
											<img class="card-img-top" src="../../../assets/images/product/thumb/thumb2.jpg"
												alt="Card image cap">
										</div>
									</div>
									<div class="col-md-2 clearfix d-none d-md-block">
										<div class="card mb-2">
											<img class="card-img-top" src="../../../assets/images/product/thumb/thumb2.jpg"
												alt="Card image cap">
										</div>
									</div>
									<div class="col-md-2 clearfix d-none d-md-block">
										<div class="card mb-2">
											<img class="card-img-top" src="../../../assets/images/product/thumb/thumb2.jpg"
												alt="Card image cap">
										</div>
									</div>
								</div>

							</div>
							<!--/.Second slide-->

							<!--Third slide-->
							<div class="carousel-item">

								<div class="row">
									<div class="col-md-2 ">
										<div class="card mb-2">
											<img class="card-img-top" src="../../../assets/images/product/thumb/thumb3.jpg"
												alt="Card image cap">
										</div>
									</div>

									<div class="col-md-2 clearfix d-none d-md-block">
										<div class="card mb-2">
											<img class="card-img-top" src="../../../assets/images/product/thumb/thumb3.jpg"
												alt="Card image cap">
										</div>
									</div>

									<div class="col-md-2 clearfix d-none d-md-block">
										<div class="card mb-2">
											<img class="card-img-top" src="../../../assets/images/product/thumb/thumb3.jpg"
												alt="Card image cap">
										</div>
									</div>

									<div class="col-md-2 clearfix d-none d-md-block">
										<div class="card mb-2">
											<img class="card-img-top" src="../../../assets/images/product/thumb/thumb3.jpg"
												alt="Card image cap">
										</div>
									</div>
									<div class="col-md-2 clearfix d-none d-md-block">
										<div class="card mb-2">
											<img class="card-img-top" src="../../../assets/images/product/thumb/thumb3.jpg"
												alt="Card image cap">
										</div>
									</div>
									<div class="col-md-2 clearfix d-none d-md-block">
										<div class="card mb-2">
											<img class="card-img-top" src="../../../assets/images/product/thumb/thumb3.jpg"
												alt="Card image cap">
										</div>
									</div>
								</div>

							</div>
							<!--/.Third slide-->

                            	<!--Indicators-->
						<ol class="carousel-indicators">
							<li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
							<li data-target="#multi-item-example" data-slide-to="1"></li>
							<li data-target="#multi-item-example" data-slide-to="2"></li>
						</ol>
						<!--/.Indicators-->

						</div>
						<!--/.Slides-->

					</div>
					<!--/.Carousel Wrapper-->
					
				</div>

				<div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">

					<div class="banner2-wrapper">
						<div class="contact-banner">
							<div class="top-info clearfix">
								<div class="info1">
									<div class="banner-title">
										Audi A4 2.0 TDI Sport - Diesel - Manual - 170 hp - 241.308 km 
									</div>
									<div class="txt2">
										<span class="txt">FIRST DRIVE REVIEW</span>
										<span class="stars">
											<i class="fa fa-star novi-icon" aria-hidden="true"></i>
											<i class="fa fa-star novi-icon" aria-hidden="true"></i>
											<i class="fa fa-star novi-icon" aria-hidden="true"></i>
											<i class="fa fa-star novi-icon" aria-hidden="true"></i>
										</span>

									</div>
									<div class="text3">$99,415</div>
									<div class="text4">Daodu Victor</div>
									<div class="text5">
										"44 Shirley Ave"
										<br>
										"West Chicago, IL 60185"
										<br>
										"Phone: "
										<a href="tel:#">+1 (312) 634-37646</a>
									</div>
									<div class="form-wrapper">
										
										<div class="subtitle">Car Feature</div>

										<div class="car-specs-container">
										  <div class="car-specs">
											<div><img src="../../../assets/images/product/diamond.png" width="20" /></div>
											<div>Car Model: <span>Oyster</span></div>
											
										  </div>
									  
										  <div class="car-specs" style="justify-content: center">
											<div><img src="../../../assets/images/product/star.png" width="20" /></div>
											<div>Car Color: <span>Grey</span></div>
											
										  </div>

									
									  
										  <div class="car-specs" style="justify-content: flex-end">
											<div><img src="../../../assets/images/product/calendar.png" width="20" /></div>
											<div>Year: <span>2021</span></div>
											
										  </div>
									
										  <div class="car-specs">
											<div><img src="../../../assets/images/product/car.png" width="20" /></div>
											<div>Car Type: <span>Used</span></div>
											
										  </div>
									 
										  <div class="car-specs" style="justify-content: center">
											<div><img src="../../../assets/images/product/carspec.png" width="20" /></div>
											<div>Car Mileage: <span>6000</span></div>
										  </div>
									  

										  <div class="car-specs" style="justify-content: center">
											<div><img src="../../../assets/images/product/star.png" width="20" /></div>
											<div>Company: <span>BMW</span></div>	
										  </div>
										 
										  
										</div>
									</div>

								</div>
							</div>

						</div>
						
					</div>

				</div>
			</div>

			<div class="row mt-4">
				<div class="col">
					<div class="tabs2-wrapper">
						<section id="tabs">
							<div class="container">
							
								<div class="row">
									<div class="col-xs-12 ">
										<nav>
											<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
												<a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">VEHICLE OVERVIEW</a>
												<a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">FEATURES & OPTIONS</a>
												<a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">COMMENTS & REVIEWS</a>
												
											</div>
										</nav>
										<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
											<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
												Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
											</div>
											<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
												Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
											</div>
											<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
												Et et consectetur ipsum labore excepteur est proident excepteur ad velit occaecat qui minim occaecat veniam. Fugiat veniam incididunt anim aliqua enim pariatur veniam sunt est aute sit dolor anim. Velit non irure adipisicing aliqua ullamco irure incididunt irure non esse consectetur nostrud minim non minim occaecat. Amet duis do nisi duis veniam non est eiusmod tempor incididunt tempor dolor ipsum in qui sit. Exercitation mollit sit culpa nisi culpa non adipisicing reprehenderit do dolore. Duis reprehenderit occaecat anim ullamco ad duis occaecat ex.
											</div>

										</div>
									
									</div>
								</div>
							</div>
						</section>
					</div>
				</div>
			</div>
		</div>
	</div>



</div>
