    <!-- START  NAVBAR -->
    <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-light" id="navbar">
      <div class="container">
          <a class="navbar-brand logo text-uppercase" href="index.html">
              <img src="assets/images/logos.png" alt="" height="34" />
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="mdi mdi-menu"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav mx-auto" id="navbar-navlist">
                  <li class="nav-item">
                      <a class="nav-link" href="#article">Articles</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#hireInspector">Hire Inspector</a>
                  </li> 
                  <li class="nav-item">
                      <a class="nav-link" href="#carflixapp">Carflix App</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link" href="#article">Article</a>
                </li> -->
                  <li class="nav-item">
                      <a class="nav-link" href="#enrollment">Car Dealer Enroll</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#followUs">Contact Us</a>
                  </li>

              </ul>

              <div>
                  <ul class="top-right text-end list-unstyled list-inline mb-0 nav-social d-none d-lg-block">
                      <li class="list-inline-item"><a href="https://web.facebook.com/carflixnigeria" target="_blank" class="facebook"><i class="mdi mdi-facebook"></i></a>
                      </li>
                      <li class="list-inline-item"><a href="https://twitter.com/CarflixNg" target="_blank" class="twitter"><i class="mdi mdi-twitter"></i></a></li>
                      <li class="list-inline-item"><a href="https://www.instagram.com/carflix_ng" target="_blank" class="instagram"><i class="mdi mdi-instagram"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </nav>
  <!-- END NAVBAR -->
