<div id="car">

  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div *ngIf="!submitted" class="text-center">
          <div class="title-box p-3" style="color: white;">
            <h5 style="padding: 7px;" class="sub-title text-primary text-uppercase">Questionnaire</h5>
            <h3 class="mt-2 fw-normal">Select an Option before going to the next step</h3>
            <div class="title-border"></div>
          </div>
        </div>
        <p-card>

          <!-- <h2 id="heading">Questionaire</h2>
                <p>Select an Option before going to the next step</p> -->
          <form [formGroup]="form" id="msform">
            <div *ngIf="!submitted" class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div> <br>

            <!-- QUESTION ONE -->
            <fieldset>
              <div class="form-card">
                <div class="row">
                  <div class="col-7">

                  </div>
                  <div class="col-5">
                    <h2 *ngIf="submitted" class="steps">Step 1 - 11</h2>
                  </div>

                  <div class="container">
                    <div class="question text-center">
                      <h5 class="mb-3 " style="color:#999999;">Pick all the car brands you like?</h5>
                      <hr style="    margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                    </div>

                    <div class="options text-center">
                      <span *ngFor="let list of brandList" formArrayName="carBrand">
                        <input class="checkbox-tools" type="checkbox" name="{{list.label}}" id="{{list.label}}"
                          [value]="list.label" (change)="onBrandSelect($event)">
                        <label class="for-checkbox-tools" for="{{list.label}}">
                          {{list.label}}
                        </label>
                      </span>

                    </div>

                    <div class="text-center">
                      <small class="error" *ngIf="(this.form.value.carBrand.length<=0 )&& (fn.carBrand.touched)">
                        Car Brand is required, select atleast one value.
                      </small>
                    </div>
                  </div>
                </div>
              </div>
              <button class=" next btn btn-primary action-button btn-round"
                [disabled]="this.form.value.carBrand.length<=0" value="Next">Next <i
                  class="mdi mdi-arrow-right ps-1"></i></button>
            </fieldset>

            <!-- QUESTION TWO -->
            <fieldset >
              <div class="form-card">
                <div class="row">
                  <div class="col-7">

                  </div>
                  <div class="col-5">
                    <h2 class="steps">Step 2 - 11</h2>
                  </div>
                </div>
                <div class="question text-center">
                  <h5 class="mb-3 " style="color:#999999;">Tell us your estimated Budget?</h5>
                  <hr style="margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                </div>
                <div class="options text-center">
                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="estimatedBudget" value="1m - 2m"
                      name="estimatedBudget">
                    <div class="rad-design"></div>
                    <div class="rad-text">1m - 2m</div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="estimatedBudget" value="2m - 5m"
                      name="estimatedBudget">
                    <div class="rad-design"></div>
                    <div class="rad-text">2m - 5m</div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="estimatedBudget" value="5m - 12m"
                      name="estimatedBudget">
                    <div class="rad-design"></div>
                    <div class="rad-text">5m - 12m</div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="estimatedBudget" value="10m - 20m"
                      name="estimatedBudget">
                    <div class="rad-design"></div>
                    <div class="rad-text">10m - 20m</div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="estimatedBudget" value="20m - 50m"
                      name="estimatedBudget">
                    <div class="rad-design"></div>
                    <div class="rad-text">20m - 50m</div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="estimatedBudget" value="50m+"
                      name="estimatedBudget">
                    <div class="rad-design"></div>
                    <div class="rad-text">50m+</div>
                  </label>
                </div>


              </div>
              <button [disabled]="this.form.value.estimatedBudget==''"
                class=" next btn btn-primary action-button btn-round">Next <i
                  class="mdi mdi-arrow-right ps-1"></i></button>

              <a class=" previous btn btn-primary action-button-previous btn-round" name="previous" value="Previous"><i
                  class="mdi mdi-arrow-left ps-1"></i> Previous </a>
            </fieldset>


            <!-- QUESTION THREE -->

            <fieldset >
              <div class="form-card">
                <div class="row">
                  <div class="col-7">

                  </div>
                  <div class="col-5">
                    <h2 class="steps">Step 3 - 11</h2>
                  </div>
                </div>
                <div class="question text-center">
                  <h5 class="mb-3 " style="color:#999999;">Give us a range of how old are you?</h5>
                  <hr style="margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                </div>
                <div class="options text-center">
                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="ageRange" value="16 - 18" name="ageRange">
                    <div class="rad-design"></div>
                    <div class="rad-text">16 - 18</div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="ageRange" value="18 - 24" name="ageRange">
                    <div class="rad-design"></div>
                    <div class="rad-text">18 - 24</div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="ageRange" value="24 - 30" name="ageRange">
                    <div class="rad-design"></div>
                    <div class="rad-text">24 - 30</div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="ageRange" value="30 - 40" name="ageRange">
                    <div class="rad-design"></div>
                    <div class="rad-text">30 - 40</div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="ageRange" value="40+" name="ageRange">
                    <div class="rad-design"></div>
                    <div class="rad-text">40+</div>
                  </label>

                </div>

              </div>
              <button [disabled]="this.form.value.ageRange==''" class=" next btn btn-primary action-button btn-round"
                value="Next">Next
                <i class="mdi mdi-arrow-right ps-1"></i>
              </button>

              <a class=" previous btn btn-primary action-button-previous btn-round" name="previous" value="Previous">
                <i class="mdi mdi-arrow-left ps-1"></i> Previous
              </a>
            </fieldset>

            <!-- QUESTION FOUR -->

            <fieldset >
              <div class="form-card">
                <div class="row">
                  <div class="col-7">

                  </div>
                  <div class="col-5">
                    <h2 class="steps">Step 4 - 11</h2>
                  </div>
                </div>
                <div class="question text-center">
                  <h5 class="mb-3 " style="color:#999999;">How much do you plan to spend on fuel consumption weekly?
                  </h5>
                  <hr style="margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                </div>
                <div class="options text-center">
                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="spendOnFuel" value="Less than ₦2,000"
                      name="spendOnFuel">
                    <div class="rad-design"></div>
                    <div class="rad-text">Less than ₦2,000 </div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="spendOnFuel" value="Less than ₦5,000"
                      name="spendOnFuel">
                    <div class="rad-design"></div>
                    <div class="rad-text">Less than ₦5,000 </div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="spendOnFuel" value="Less than ₦10,000"
                      name="spendOnFuel">
                    <div class="rad-design"></div>
                    <div class="rad-text">Less than ₦10,000 </div>
                  </label>

                </div>

              </div>
              <button [disabled]="this.form.value.spendOnFuel==''" class=" next btn btn-primary action-button btn-round"
                value="Next">Next
                <i class="mdi mdi-arrow-right ps-1"></i>
              </button>
              <a class=" previous btn btn-primary action-button-previous btn-round" name="previous" value="Previous">
                <i class="mdi mdi-arrow-left ps-1"></i> Previous
              </a>
            </fieldset>

            <!-- QUESTION FIVE -->

            <fieldset >
              <div class="form-card">
                <div class="row">
                  <div class="col-7">

                  </div>
                  <div class="col-5">
                    <h2 class="steps">Step 5 - 11</h2>
                  </div>
                </div>
                <div class="question text-center">
                  <h5 class="mb-3 " style="color:#999999;">How many hours will you be driving daily?
                  </h5>
                  <hr style="margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                </div>
                <div class="options text-center">
                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="dailyDrivingHrs" value="Less than 2Hrs"
                      name="dailyDrivingHrs">
                    <div class="rad-design"></div>
                    <div class="rad-text">Less than 2Hrs </div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="dailyDrivingHrs" value="Less than 6Hrs"
                      name="dailyDrivingHrs">
                    <div class="rad-design"></div>
                    <div class="rad-text">Less than 6Hrs </div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="dailyDrivingHrs" value="Above 6Hrs"
                      name="dailyDrivingHrs">
                    <div class="rad-design"></div>
                    <div class="rad-text">Above 6Hrs </div>
                  </label>

                </div>

              </div>
              <button [disabled]="this.form.value.dailyDrivingHrs==''"
                class=" next btn btn-primary action-button btn-round" value="Next">Next
                <i class="mdi mdi-arrow-right ps-1"></i>
              </button>
              <a class=" previous btn btn-primary action-button-previous btn-round" name="previous" value="Previous">
                <i class="mdi mdi-arrow-left ps-1"></i> Previous
              </a>
            </fieldset>

            <!-- QUESTION SIX -->

            <fieldset >
              <div class="form-card">
                <div class="row">
                  <div class="col-7">

                  </div>
                  <div class="col-5">
                    <h2 class="steps">Step 6 - 11</h2>
                  </div>
                </div>
                <div class="question text-center">
                  <h5 class="mb-3 " style="color:#999999;">Are you married?
                  </h5>
                  <hr style="margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                </div>
                <div class="options text-center">
                  <label class="rad-label">
                    <input type="radio" class="rad-input" (click)="maritalStatusToggle($event)"
                      formControlName="maritalStatus" value="Yes" name="maritalStatus">
                    <div class="rad-design"></div>
                    <div class="rad-text">Yes </div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" (click)="maritalStatusToggle($event)"
                      formControlName="maritalStatus" value="No" name="maritalStatus">
                    <div class="rad-design"></div>
                    <div class="rad-text">No </div>
                  </label>
                  <!-- IF MARRIED -->
                  <div class="haveChildren" *ngIf="married==true">
                    <h5 class="mb-3 " style="color:#999999;">How many children?
                    </h5>
                    <label class="rad-label">
                      <input type="radio" class="rad-input" formControlName="noOfChildren" value="Less than 3"
                        name="noOfChildren">
                      <div class="rad-design"></div>
                      <div class="rad-text">Less than 3 </div>
                    </label>

                    <label class="rad-label">
                      <input type="radio" class="rad-input" formControlName="noOfChildren" value="Less than 5"
                        name="noOfChildren">
                      <div class="rad-design"></div>
                      <div class="rad-text">Less than 5 </div>
                    </label>

                    <label class="rad-label">
                      <input type="radio" class="rad-input" formControlName="noOfChildren" value="Above 5"
                        name="noOfChildren">
                      <div class="rad-design"></div>
                      <div class="rad-text">Above 5</div>
                    </label>
                  </div>
                </div>

              </div>
              <button [disabled]="this.form.value.maritalStatus==''"
                class=" next btn btn-primary action-button btn-round" value="Next">Next
                <i class="mdi mdi-arrow-right ps-1"></i>
              </button>
              <a class=" previous btn btn-primary action-button-previous btn-round" name="previous" value="Previous">
                <i class="mdi mdi-arrow-left ps-1"></i> Previous
              </a>
            </fieldset>

            <!-- QUESTION SEVEN -->

            <fieldset >
              <div class="form-card">
                <div class="row">
                  <div class="col-7">

                  </div>
                  <div class="col-5">
                    <h2 class="steps">Step 7 - 11</h2>
                  </div>
                </div>
                <div class="question text-center">
                  <h5 class="mb-3 " style="color:#999999;">How much do you plan on montly maintainance?
                  </h5>
                  <hr style="margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                </div>
                <div class="options text-center">
                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="monthyMaintainanceCost"
                      value="Less than ₦10,000" name="monthyMaintainanceCost">
                    <div class="rad-design"></div>
                    <div class="rad-text">Less than ₦10,000 </div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="monthyMaintainanceCost"
                      value="Less than ₦20,000" name="monthyMaintainanceCost">
                    <div class="rad-design"></div>
                    <div class="rad-text">Less than ₦20,000 </div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="monthyMaintainanceCost" value="₦25,000+"
                      name="monthyMaintainanceCost">
                    <div class="rad-design"></div>
                    <div class="rad-text">₦25,000+ </div>
                  </label>

                </div>

              </div>
              <button [disabled]="this.form.value.monthyMaintainanceCost==''"
                class=" next btn btn-primary action-button btn-round" value="Next">Next
                <i class="mdi mdi-arrow-right ps-1"></i>
              </button>
              <a class=" previous btn btn-primary action-button-previous btn-round" name="previous" value="Previous">
                <i class="mdi mdi-arrow-left ps-1"></i> Previous
              </a>
            </fieldset>

            <!-- QUESTION EIGHT -->

            <fieldset >
              <div class="form-card">
                <div class="row">
                  <div class="col-7">

                  </div>
                  <div class="col-5">
                    <h2 class="steps">Step 8 - 11</h2>
                  </div>
                </div>
                <div class="question text-center">
                  <h5 class="mb-3 " style="color:#999999;">Select the list car you are looking to buy?
                  </h5>
                  <hr style="margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                </div>
                <div class="options text-center">
                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="carToBuy" value="NEW" name="carToBuy">
                    <div class="rad-design"></div>
                    <div class="rad-text">NEW </div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="carToBuy" value="Foreign Used"
                      name="carToBuy">
                    <div class="rad-design"></div>
                    <div class="rad-text">Foreign Used </div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="carToBuy" value="Nigerian used"
                      name="carToBuy">
                    <div class="rad-design"></div>
                    <div class="rad-text">Nigerian used </div>
                  </label>

                </div>

              </div>
              <button [disabled]="this.form.value.carToBuy==''" class=" next btn btn-primary action-button btn-round"
                value="Next">Next
                <i class="mdi mdi-arrow-right ps-1"></i>
              </button>
              <a class=" previous btn btn-primary action-button-previous btn-round" name="previous" value="Previous">
                <i class="mdi mdi-arrow-left ps-1"></i> Previous
              </a>
            </fieldset>

            <!-- QUESTION NINE -->

            <fieldset >
              <div class="form-card">
                <div class="row">
                  <div class="col-7">

                  </div>
                  <div class="col-5">
                    <h2 class="steps">Step 9 - 11</h2>
                  </div>
                </div>
                <div class="question text-center">
                  <h5 class="mb-3 " style="color:#999999;">How many seats will you prefer?
                  </h5>
                  <hr style="margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                </div>
                <div class="options text-center">
                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="noOfSeats" value="2 Seats" name="noOfSeats">
                    <div class="rad-design"></div>
                    <div class="rad-text">2 Seats </div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="noOfSeats" value="5 Seats" name="noOfSeats">
                    <div class="rad-design"></div>
                    <div class="rad-text">5 Seats </div>
                  </label>

                  <label class="rad-label">
                    <input type="radio" class="rad-input" formControlName="noOfSeats" value="8 Seats" name="noOfSeats">
                    <div class="rad-design"></div>
                    <div class="rad-text">8 Seats</div>
                  </label>

                </div>

              </div>
              <button [disabled]="this.form.value.noOfSeats==''" class=" next btn btn-primary action-button btn-round"
                value="Next">Next
                <i class="mdi mdi-arrow-right ps-1"></i>
              </button>
              <a class=" previous btn btn-primary action-button-previous btn-round" name="previous" value="Previous">
                <i class="mdi mdi-arrow-left ps-1"></i> Previous
              </a>
            </fieldset>

            <!-- QUESTION TEN -->

            <fieldset >
              <div class="form-card">
                <div class="row">
                  <div class="col-7">

                  </div>
                  <div class="col-5">
                    <h2 class="steps">Step 10 - 11</h2>
                  </div>

                  <div class="container">
                    <div class="question text-center">
                      <h5 class="mb-3 " style="color:#999999;">Tell us the things you love in a car?</h5>
                      <hr style="    margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                    </div>

                    <div class="options text-center">
                      <span *ngFor="let list of thingsYouLoveInCarList" formArrayName="thingsYouLoveInCar">
                        <input class="checkbox-tools" type="checkbox" name="{{list.label}}" id="{{list.label}}"
                          [value]="list.label" (change)="onThingYouLoveSelect($event)">
                        <label class="for-checkbox-tools" for="{{list.label}}">
                          {{list.label}}
                        </label>
                      </span>
                    </div>

                  </div>
                </div>
              </div>
              <button [disabled]="this.form.value.thingsYouLoveInCar==''"
                class="next btn btn-primary action-button btn-round" value="Next">Next <i
                  class="mdi mdi-arrow-right ps-1"></i></button>
              <a class=" previous btn btn-primary action-button-previous btn-round" name="previous" value="Previous">
                <i class="mdi mdi-arrow-left ps-1"></i> Previous
              </a>
            </fieldset>

            <!--ENTER CONTACT DETAILS PAGE -->

            <fieldset>
               <!--ENTER CONTACT DETAILS PAGE -->
              <div *ngIf="!submitted" class="form-card">
                <div class="row">
                  <div class="col-7">

                  </div>
                  <div class="col-5">
                    <h2 class="steps">Step 11 - 11</h2>
                  </div>

                  <div class="container p-4">
                    <h2 class="text-center mb-4">Enter Contact Details</h2>
                    <div class="form-group">
                      <input class="form-control" type="text" formControlName="respondentName" placeholder="Name">
                    </div>
                    <div class="form-group">
                      <select style="background-color: #eceff1;font-size: 16px;
                      letter-spacing: 1px;border: 1px solid #ccc;font-family: montserrat;" id="my-select"
                        class="form-control form-select" formControlName="respondentContactType">
                        <option>Select Contact Type</option>
                        <option value="Whatsapp"> Whatsapp <i style="color: black;" class="mdi mdi-whatsapp"></i>
                        </option>
                        <option value="Telegram">Telegram</option>
                        <option value="Email">Email</option>
                        <option value="Phone Number">Phone Number</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="text" formControlName="respondentContact"
                        placeholder="Enter Contact">
                    </div>
                    <div class="form-group">
                      <input class="form-control" type="text" formControlName="respondentAddress"
                        placeholder="Enter Address">
                    </div>

                  </div>
                </div>
              </div>
              <button *ngIf="!submitted"
                [disabled]="(this.form.value.respondentName=='') && (this.form.value.respondentContactType=='') && (this.form.value.respondentContact=='')"
                class="btn btn-primary action-button btn-round" (click)="submitQuestionnaires()">Submit <i
                  class="mdi mdi-content-save-all ps-1"></i></button>

              <a *ngIf="!submitted" class=" previous btn btn-primary action-button-previous btn-round" name="previous" value="Previous">
                <i class="mdi mdi-arrow-left ps-1"></i> Previous
              </a>


  <!-- FINISH PAGE -->
  <div *ngIf="submitted" class="form-card mt-5">
    <div class="row">
      <div class="col-7">
        <h2 class="fs-title"></h2>
      </div>
      <div class="col-5">
        <!-- <h2 class="steps">Step 12 - 12</h2> -->
      </div>
    </div> <br><br>
    <h6 class="text-center mb-5 text-lead " style="font-weight:600"><strong>Your Response has been submitted
        successfully!</strong></h6> <br>
    <div class="row justify-content-center">
      <div style="text-align: center;font-size: 70px;color: #388c7c;" class="col-3"> <i
          class="mdi mdi-checkbox-marked-circle-outline"></i> </div>
    </div> <br><br>
    <div class="row justify-content-center">
      <div class="col-7 text-center">
        <h5 class=" text-center" style="font-weight:400">
          <p class="text-lead">You can follow us via: </p>
        </h5>
        <div class="contact-info row px-xl-5 px-sm-4 px-3">

          <div class="col-3 px-1">
            <a class="btn btn-outline-light w-100">
              <span class="text-lg fab fa-twitter"></span>

            </a>
          </div>
          <div class="col-3 me-auto px-1">
            <a class="btn btn-outline-light w-100">
              <span class="text-lg fab fa-facebook"></span>
            </a>
          </div>

          <div class="col-3 me-auto px-1">
            <a class="btn btn-outline-light w-100">
              <span class="text-lg fab fa-instagram"></span>
            </a>
          </div>

          <div class="col-3 me-auto px-1">
            <a class="btn btn-outline-light w-100">
              <span class="text-lg fab fa-whatsapp"></span>
            </a>
          </div>

        </div>
        <div class="pt-4 mt-3 home-button">
          <a (click)="goHome()" class="btn btn-primary btn-round text-uppercase">Back Home
            <span class="home-btn"><i class="mdi mdi-chevron-left text-center"></i></span>
          </a>
        </div>
      </div>
    </div>
  </div>
            </fieldset>


            <!-- FINISH PAGE -->
            <!-- <fieldset>
              <div *ngIf="submitted" class="form-card">
                <div class="row">
                  <div class="col-7">
                    <h2 class="fs-title"></h2>
                  </div>
                  <div class="col-5">
                  </div>
                </div> <br><br>
                <h6 class="text-center mb-5 text-lead " style="font-weight:600"><strong>Your Response has been submitted
                    successfully!</strong></h6> <br>
                <div class="row justify-content-center">
                  <div style="text-align: center;font-size: 70px;color: #388c7c;" class="col-3"> <i
                      class="mdi mdi-checkbox-marked-circle-outline"></i> </div>
                </div> <br><br>
                <div class="row justify-content-center">
                  <div class="col-7 text-center">
                    <h5 class=" text-center" style="font-weight:400">
                      <p class="text-lead">You can follow us via: </p>
                    </h5>
                    <div class="contact-info row px-xl-5 px-sm-4 px-3">

                      <div class="col-3 px-1">
                        <a class="btn btn-outline-light w-100">
                          <span class="text-lg fab fa-twitter"></span>

                        </a>
                      </div>
                      <div class="col-3 me-auto px-1">
                        <a class="btn btn-outline-light w-100">
                          <span class="text-lg fab fa-facebook"></span>
                        </a>
                      </div>

                      <div class="col-3 me-auto px-1">
                        <a class="btn btn-outline-light w-100">
                          <span class="text-lg fab fa-instagram"></span>
                        </a>
                      </div>

                      <div class="col-3 me-auto px-1">
                        <a class="btn btn-outline-light w-100">
                          <span class="text-lg fab fa-whatsapp"></span>
                        </a>
                      </div>

                    </div>
                    <div class="pt-4 mt-3 home-button">
                      <a (click)="goHome()" class="btn btn-primary btn-round text-uppercase">Back Home
                        <span class="home-btn"><i class="mdi mdi-chevron-left text-center"></i></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </fieldset> -->
          </form>

        </p-card>


      </div>
    </div>
  </div>


</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#388c7c" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Saving Your Data... </p>
</ngx-spinner>
