<section class="section bg-light" id="work">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-7">
        <div class="title-box p-3">
          <h5 style="padding: 7px;" class="sub-title text-primary text-uppercase">Questionnaire</h5>
          <h3 class="mt-2 fw-normal">Select an Option before going to the next step</h3>
          <div class="title-border"></div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
          <p-card>
            <div class=" mb-3">
              <!-- <h2 id="heading">Questionaire</h2>
            <p>Select an Option before going to the next step</p> -->
              <form id="msform">


                <div class="progress">
                  <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
                    aria-valuemin="0" aria-valuemax="100"></div>
                </div> <br> <!-- fieldsets -->
                <fieldset>
                  <div class="form-card">
                    <div class="row">
                      <div class="col-7">

                      </div>
                      <div class="col-5">
                        <h2 class="steps">Step 1 - 10</h2>
                      </div>

                      <div class="container">
                        <div class="question text-center">
                          <h5 class="mb-3 " style="color:#999999;">Pick all the car brands you like?</h5>
                          <hr style="    margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                        </div>
                        <div class="options text-center">
                          <input class="checkbox-tools" type="checkbox" value="porche" (ngModel)="carBrand"
                            name="carBrand" id="porche">
                          <label class="for-checkbox-tools" for="porche">
                            Porche
                          </label>
                          <input class="checkbox-tools" type="checkbox" value="Kia" (ngModel)="carBrand" name="carBrand"
                            id="Kia">
                          <label class="for-checkbox-tools" for="Kia">
                            Kia
                          </label>
                          <input class="checkbox-tools" type="checkbox" value="Tesla" (ngModel)="carBrand"
                            name="carBrand" id="Tesla">
                          <label class="for-checkbox-tools" for="Tesla">

                            Tesla
                          </label>
                          <input class="checkbox-tools" type="checkbox" value="Mazda" (ngModel)="carBrand"
                            name="carBrand" id="Mazda">
                          <label class="for-checkbox-tools" for="Mazda">

                            Mazda
                          </label>
                          <input class="checkbox-tools" type="checkbox" value="Toyota" (ngModel)="carBrand"
                            name="carBrand" id="Toyota">
                          <label class="for-checkbox-tools" for="Toyota">
                            Toyota
                          </label>
                          <input class="checkbox-tools" type="checkbox" value="Honda" (ngModel)="carBrand"
                            name="carBrand" id="Honda">
                          <label class="for-checkbox-tools" for="Honda">
                            Honda
                          </label>

                          <input class="checkbox-tools" type="checkbox" value="Jaguar" (ngModel)="carBrand"
                            name="carBrand" id="Jaguar">
                          <label class="for-checkbox-tools" for="Jaguar">
                            Jaguar
                          </label>

                          <input class="checkbox-tools" type="checkbox" value="Mitsubishi" (ngModel)="carBrand"
                            name="carBrand" id="Mitsubishi">
                          <label class="for-checkbox-tools" for="Mitsubishi">
                            Mitsubishi
                          </label>

                          <input class="checkbox-tools" type="checkbox" value="Volvo" (ngModel)="carBrand"
                            name="carBrand" id="Volvo">
                          <label class="for-checkbox-tools" for="Volvo">
                            Volvo
                          </label>

                          <input class="checkbox-tools" type="checkbox" value="Lexus" (ngModel)="carBrand"
                            name="carBrand" id="Lexus">
                          <label class="for-checkbox-tools" for="Lexus">
                            Lexus
                          </label>

                          <input class="checkbox-tools" type="checkbox" value="Peugeot" (ngModel)="carBrand"
                            name="carBrand" id="Peugeot">
                          <label class="for-checkbox-tools" for="Peugeot">
                            Peugeot
                          </label>

                          <input class="checkbox-tools" type="checkbox" value="Skoda" (ngModel)="carBrand"
                            name="carBrand" id="Skoda">
                          <label class="for-checkbox-tools" for="Skoda">
                            Skoda
                          </label>

                          <input class="checkbox-tools" type="checkbox" value="Mercedes" (ngModel)="carBrand"
                            name="carBrand" id="Mercedes">
                          <label class="for-checkbox-tools" for="Mercedes">
                            Mercedes
                          </label>

                          <input class="checkbox-tools" type="checkbox" value="Suzuki" (ngModel)="carBrand"
                            name="carBrand" id="Suzuki">
                          <label class="for-checkbox-tools" for="Suzuki">
                            Suzuki
                          </label>

                          <input class="checkbox-tools" type="checkbox" value="Hyundai" (ngModel)="carBrand"
                            name="carBrand" id="Hyundai">
                          <label class="for-checkbox-tools" for="Hyundai">
                            Hyundai
                          </label>
                        </div>


                      </div>
                    </div>
                  </div>
                  <a class=" next btn btn-primary action-button btn-round" value="Next">Next <i
                      class="mdi mdi-arrow-right ps-1"></i></a>
                </fieldset>
                <!-- QUESTION TWO -->
                <fieldset>
                  <div class="form-card">
                    <div class="row">
                      <div class="col-7">

                      </div>
                      <div class="col-5">
                        <h2 class="steps">Step 2 - 10</h2>
                      </div>
                    </div>
                    <div class="question text-center">
                      <h5 class="mb-3 " style="color:#999999;">Tell us your estimated Budget?</h5>
                      <hr style="margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                    </div>
                    <div class="options text-center">
                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="estimatedBudgetToggle($event)"
                          [(ngModel)]="estimatedBudget" value="1m - 2m" name="estimatedBudget">
                        <div class="rad-design"></div>
                        <div class="rad-text">1m - 2m</div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="estimatedBudgetToggle($event)"
                          [(ngModel)]="estimatedBudget" value="2m - 5m" name="estimatedBudget">
                        <div class="rad-design"></div>
                        <div class="rad-text">2m - 5m</div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="estimatedBudgetToggle($event)"
                          [(ngModel)]="estimatedBudget" value="5m - 10m" name="estimatedBudget">
                        <div class="rad-design"></div>
                        <div class="rad-text">5m - 10m</div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="estimatedBudgetToggle($event)"
                          [(ngModel)]="estimatedBudget" value="10m - 20m" name="estimatedBudget">
                        <div class="rad-design"></div>
                        <div class="rad-text">10m - 20m</div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="estimatedBudgetToggle($event)"
                          [(ngModel)]="estimatedBudget" value="20m - 50m" name="estimatedBudget">
                        <div class="rad-design"></div>
                        <div class="rad-text">20m - 50m</div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="estimatedBudgetToggle($event)"
                          [(ngModel)]="estimatedBudget" value="50m+" name="estimatedBudget">
                        <div class="rad-design"></div>
                        <div class="rad-text">50m+</div>
                      </label>
                    </div>

                  </div>
                  <a class=" next btn btn-primary action-button btn-round">Next <i
                      class="mdi mdi-arrow-right ps-1"></i></a>

                  <a class=" previous btn btn-primary action-button-previous btn-round" name="previous"
                    value="Previous"><i class="mdi mdi-arrow-left ps-1"></i> Previous </a>
                </fieldset>


                <!-- QUESTION THREE -->

                <fieldset>
                  <div class="form-card">
                    <div class="row">
                      <div class="col-7">

                      </div>
                      <div class="col-5">
                        <h2 class="steps">Step 3 - 10</h2>
                      </div>
                    </div>
                    <div class="question text-center">
                      <h5 class="mb-3 " style="color:#999999;">Give us a range of how old are you?</h5>
                      <hr style="margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                    </div>
                    <div class="options text-center">
                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="ageToggle($event)" [(ngModel)]="ageRange"
                          value="16 - 18" name="ageRange">
                        <div class="rad-design"></div>
                        <div class="rad-text">16 - 18</div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="ageToggle($event)" [(ngModel)]="ageRange"
                          value="18 - 24" name="ageRange">
                        <div class="rad-design"></div>
                        <div class="rad-text">18 - 24</div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="ageToggle($event)" [(ngModel)]="ageRange"
                          value="24 - 30" name="ageRange">
                        <div class="rad-design"></div>
                        <div class="rad-text">24 - 30</div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="ageToggle($event)" [(ngModel)]="ageRange"
                          value="30 - 40" name="ageRange">
                        <div class="rad-design"></div>
                        <div class="rad-text">30 - 40</div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="ageToggle($event)" [(ngModel)]="ageRange"
                          value="40+" name="ageRange">
                        <div class="rad-design"></div>
                        <div class="rad-text">40+</div>
                      </label>

                    </div>

                  </div>
                  <a class=" next btn btn-primary action-button btn-round" value="Next">Next
                    <i class="mdi mdi-arrow-right ps-1"></i>
                  </a>

                  <a class=" previous btn btn-primary action-button-previous btn-round" name="previous"
                    value="Previous">
                    <i class="mdi mdi-arrow-left ps-1"></i> Previous
                  </a>
                </fieldset>

                <!-- QUESTION FOUR -->

                <fieldset>
                  <div class="form-card">
                    <div class="row">
                      <div class="col-7">

                      </div>
                      <div class="col-5">
                        <h2 class="steps">Step 4 - 10</h2>
                      </div>
                    </div>
                    <div class="question text-center">
                      <h5 class="mb-3 " style="color:#999999;">How much do you plan to spend on fuel consumption weekly?
                      </h5>
                      <hr style="margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                    </div>
                    <div class="options text-center">
                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="spendOnFuelToggle($event)"
                          [(ngModel)]="spendOnFuel" value="Less than ₦2,000" name="spendOnFuel">
                        <div class="rad-design"></div>
                        <div class="rad-text">Less than ₦2,000 </div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="spendOnFuelToggle($event)"
                          [(ngModel)]="spendOnFuel" value="Less than ₦5,000" name="spendOnFuel">
                        <div class="rad-design"></div>
                        <div class="rad-text">Less than ₦5,000 </div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="spendOnFuelToggle($event)"
                          [(ngModel)]="spendOnFuel" value="Less than ₦10,000" name="spendOnFuel">
                        <div class="rad-design"></div>
                        <div class="rad-text">Less than ₦10,000 </div>
                      </label>

                    </div>

                  </div>
                  <a class=" next btn btn-primary action-button btn-round" value="Next">Next
                    <i class="mdi mdi-arrow-right ps-1"></i>
                  </a>
                  <a class=" previous btn btn-primary action-button-previous btn-round" name="previous"
                    value="Previous">
                    <i class="mdi mdi-arrow-left ps-1"></i> Previous
                  </a>
                </fieldset>

                <!-- QUESTION FIVE -->

                <fieldset>
                  <div class="form-card">
                    <div class="row">
                      <div class="col-7">

                      </div>
                      <div class="col-5">
                        <h2 class="steps">Step 5 - 10</h2>
                      </div>
                    </div>
                    <div class="question text-center">
                      <h5 class="mb-3 " style="color:#999999;">How many hours will you be driving daily?
                      </h5>
                      <hr style="margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                    </div>
                    <div class="options text-center">
                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="dailyDrivingHrsToggle($event)"
                          [(ngModel)]="dailyDrivingHrs" value="Less than 2Hrs" name="dailyDrivingHrs">
                        <div class="rad-design"></div>
                        <div class="rad-text">Less than 2Hrs </div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="dailyDrivingHrsToggle($event)"
                          [(ngModel)]="dailyDrivingHrs" value="Less than 6Hrs" name="dailyDrivingHrs">
                        <div class="rad-design"></div>
                        <div class="rad-text">Less than 6Hrs </div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="dailyDrivingHrsToggle($event)"
                          [(ngModel)]="dailyDrivingHrs" value="Above 6Hrs" name="dailyDrivingHrs">
                        <div class="rad-design"></div>
                        <div class="rad-text">Above 6Hrs </div>
                      </label>

                    </div>

                  </div>
                  <a class=" next btn btn-primary action-button btn-round" value="Next">Next
                    <i class="mdi mdi-arrow-right ps-1"></i>
                  </a>
                  <a class=" previous btn btn-primary action-button-previous btn-round" name="previous"
                    value="Previous">
                    <i class="mdi mdi-arrow-left ps-1"></i> Previous
                  </a>
                </fieldset>

                <!-- QUESTION SIX -->

                <fieldset>
                  <div class="form-card">
                    <div class="row">
                      <div class="col-7">

                      </div>
                      <div class="col-5">
                        <h2 class="steps">Step 6 - 10</h2>
                      </div>
                    </div>
                    <div class="question text-center">
                      <h5 class="mb-3 " style="color:#999999;">Are you married?
                      </h5>
                      <hr style="margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                    </div>
                    <div class="options text-center">
                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="maritalStatusToggle($event)"
                          [(ngModel)]="maritalStatus" value="Yes" name="maritalStatus">
                        <div class="rad-design"></div>
                        <div class="rad-text">Yes </div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="maritalStatusToggle($event)"
                          [(ngModel)]="maritalStatus" value="No" name="maritalStatus">
                        <div class="rad-design"></div>
                        <div class="rad-text">No </div>
                      </label>
                      <!-- IF MARRIED -->
                      <div class="haveChildren" *ngIf="married">
                        <h5 class="mb-3 " style="color:#999999;">How many children?
                        </h5>
                        <label class="rad-label">
                          <input type="radio" class="rad-input" (change)="noOfChildrenToggle($event)"
                            [(ngModel)]="noOfChildren" value="Less than 3" name="noOfChildren">
                          <div class="rad-design"></div>
                          <div class="rad-text">Less than 3 </div>
                        </label>

                        <label class="rad-label">
                          <input type="radio" class="rad-input" (change)="noOfChildrenToggle($event)"
                            [(ngModel)]="noOfChildren" value="Less than 5" name="noOfChildren">
                          <div class="rad-design"></div>
                          <div class="rad-text">Less than 5 </div>
                        </label>

                        <label class="rad-label">
                          <input type="radio" class="rad-input" (change)="noOfChildrenToggle($event)"
                            [(ngModel)]="noOfChildren" value="Above 5" name="noOfChildren">
                          <div class="rad-design"></div>
                          <div class="rad-text">Above 5</div>
                        </label>
                      </div>
                    </div>

                  </div>
                  <a class=" next btn btn-primary action-button btn-round" value="Next">Next
                    <i class="mdi mdi-arrow-right ps-1"></i>
                  </a>
                  <a class=" previous btn btn-primary action-button-previous btn-round" name="previous"
                    value="Previous">
                    <i class="mdi mdi-arrow-left ps-1"></i> Previous
                  </a>
                </fieldset>

                <!-- QUESTION SEVEN -->

                <fieldset>
                  <div class="form-card">
                    <div class="row">
                      <div class="col-7">

                      </div>
                      <div class="col-5">
                        <h2 class="steps">Step 7 - 10</h2>
                      </div>
                    </div>
                    <div class="question text-center">
                      <h5 class="mb-3 " style="color:#999999;">How much do you plan on montly maintainance?
                      </h5>
                      <hr style="margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                    </div>
                    <div class="options text-center">
                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="monthyMaintainanceCostToggle($event)"
                          [(ngModel)]="monthyMaintainanceCost" value="Less than ₦10,000" name="monthyMaintainanceCost">
                        <div class="rad-design"></div>
                        <div class="rad-text">Less than ₦10,000 </div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="monthyMaintainanceCostToggle($event)"
                          [(ngModel)]="monthyMaintainanceCost" value="Less than ₦20,000" name="monthyMaintainanceCost">
                        <div class="rad-design"></div>
                        <div class="rad-text">Less than ₦20,000 </div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="monthyMaintainanceCostToggle($event)"
                          [(ngModel)]="monthyMaintainanceCost" value="₦25,000+" name="monthyMaintainanceCost">
                        <div class="rad-design"></div>
                        <div class="rad-text">₦25,000+ </div>
                      </label>

                    </div>

                  </div>
                  <a class=" next btn btn-primary action-button btn-round" value="Next">Next
                    <i class="mdi mdi-arrow-right ps-1"></i>
                  </a>
                  <a class=" previous btn btn-primary action-button-previous btn-round" name="previous"
                    value="Previous">
                    <i class="mdi mdi-arrow-left ps-1"></i> Previous
                  </a>
                </fieldset>

                <!-- QUESTION EIGHT -->

                <fieldset>
                  <div class="form-card">
                    <div class="row">
                      <div class="col-7">

                      </div>
                      <div class="col-5">
                        <h2 class="steps">Step 8 - 10</h2>
                      </div>
                    </div>
                    <div class="question text-center">
                      <h5 class="mb-3 " style="color:#999999;">Select the list car you are looking to buy?
                      </h5>
                      <hr style="margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                    </div>
                    <div class="options text-center">
                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="carToBuyToggle($event)" [(ngModel)]="carToBuy"
                          value="NEW" name="carToBuy">
                        <div class="rad-design"></div>
                        <div class="rad-text">NEW </div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="carToBuyToggle($event)" [(ngModel)]="carToBuy"
                          value="Foreign Used" name="carToBuy">
                        <div class="rad-design"></div>
                        <div class="rad-text">Foreign Used </div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="carToBuyToggle($event)" [(ngModel)]="carToBuy"
                          value="Nigerian used" name="carToBuy">
                        <div class="rad-design"></div>
                        <div class="rad-text">Nigerian used </div>
                      </label>

                    </div>

                  </div>
                  <a class=" next btn btn-primary action-button btn-round" value="Next">Next
                    <i class="mdi mdi-arrow-right ps-1"></i>
                  </a>
                  <a class=" previous btn btn-primary action-button-previous btn-round" name="previous"
                    value="Previous">
                    <i class="mdi mdi-arrow-left ps-1"></i> Previous
                  </a>
                </fieldset>

                <!-- QUESTION NINE -->

                <fieldset>
                  <div class="form-card">
                    <div class="row">
                      <div class="col-7">

                      </div>
                      <div class="col-5">
                        <h2 class="steps">Step 9 - 10</h2>
                      </div>
                    </div>
                    <div class="question text-center">
                      <h5 class="mb-3 " style="color:#999999;">How many seats will you prefer?
                      </h5>
                      <hr style="margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                    </div>
                    <div class="options text-center">
                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="noOfSeatsToggle($event)" [(ngModel)]="noOfSeats"
                          value="2 Seats" name="noOfSeats">
                        <div class="rad-design"></div>
                        <div class="rad-text">2 Seats </div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="noOfSeatsToggle($event)" [(ngModel)]="noOfSeats"
                          value="5 Seats" name="noOfSeats">
                        <div class="rad-design"></div>
                        <div class="rad-text">5 Seats </div>
                      </label>

                      <label class="rad-label">
                        <input type="radio" class="rad-input" (change)="noOfSeatsToggle($event)" [(ngModel)]="noOfSeats"
                          value="8 Seats" name="noOfSeats">
                        <div class="rad-design"></div>
                        <div class="rad-text">8 Seats</div>
                      </label>

                    </div>

                  </div>
                  <a class=" next btn btn-primary action-button btn-round" value="Next">Next
                    <i class="mdi mdi-arrow-right ps-1"></i>
                  </a>
                  <a class=" previous btn btn-primary action-button-previous btn-round" name="previous"
                    value="Previous">
                    <i class="mdi mdi-arrow-left ps-1"></i> Previous
                  </a>
                </fieldset>

                <!-- QUESTION TEN -->

                <fieldset>
                  <div class="form-card">
                    <div class="row">
                      <div class="col-7">

                      </div>
                      <div class="col-5">
                        <h2 class="steps">Step 1 - 10</h2>
                      </div>

                      <div class="container">
                        <div class="question text-center">
                          <h5 class="mb-3 " style="color:#999999;">Tell us the things you love in a car?</h5>
                          <hr style="    margin-bottom: 25px; margin-right: 100px;margin-left: 100px;">
                        </div>
                        <div class="options text-center">
                          <input class="checkbox-tools" type="checkbox" value="Fast" (ngModel)="thingsYouLoveInCar"
                            name="thingsYouLoveInCar" id="Fast">
                          <label class="for-checkbox-tools" for="Fast">
                            Fast
                          </label>
                          <input class="checkbox-tools" type="checkbox" value="Luxury feature"
                            (ngModel)="thingsYouLoveInCar" name="thingsYouLoveInCar" id="Luxury">
                          <label class="for-checkbox-tools" for="Luxury">
                            Luxury
                          </label>
                          <input class="checkbox-tools" type="checkbox" value="Neat" (ngModel)="thingsYouLoveInCar"
                            name="thingsYouLoveInCar" id="Neat">
                          <label class="for-checkbox-tools" for="Neat">

                            Neat
                          </label>
                          <input class="checkbox-tools" type="checkbox" value="Simple" (ngModel)="thingsYouLoveInCar"
                            name="thingsYouLoveInCar" id="Simple">
                          <label class="for-checkbox-tools" for="Simple">

                            Simple
                          </label>
                          <input class="checkbox-tools" type="checkbox" value="Flashy" (ngModel)="thingsYouLoveInCar"
                            name="thingsYouLoveInCar" id="Flashy">
                          <label class="for-checkbox-tools" for="Flashy">
                            Flashy
                          </label>
                          <input class="checkbox-tools" type="checkbox" value="Big Tires" (ngModel)="thingsYouLoveInCar"
                            name="thingsYouLoveInCar" id="BigTires">
                          <label class="for-checkbox-tools" for="BigTires">
                            Big Tires
                          </label>

                          <input class="checkbox-tools" type="checkbox" value="SUV" (ngModel)="thingsYouLoveInCar"
                            name="thingsYouLoveInCar" id="SUV">
                          <label class="for-checkbox-tools" for="SUV">
                            SUV
                          </label>

                          <input class="checkbox-tools" type="checkbox" value="Sedan" (ngModel)="thingsYouLoveInCar"
                            name="thingsYouLoveInCar" id="Sedan">
                          <label class="for-checkbox-tools" for="Sedan">
                            Sedan
                          </label>

                          <input class="checkbox-tools" type="checkbox" value="Pandenomic roof" (ngModel)="carBrand"
                            name="carBrand" id="Pandenomicroof">
                          <label class="for-checkbox-tools" for="Pandenomicroof">
                            Pandenomic roof
                          </label>

                          <input class="checkbox-tools" type="checkbox" value="Sensors" (ngModel)="carBrand"
                            name="carBrand" id="Sensors">
                          <label class="for-checkbox-tools" for="Sensors">
                            Sensors
                          </label>

                          <input class="checkbox-tools" type="checkbox" value="Touch Start" (ngModel)="carBrand"
                            name="carBrand" id="TouchStart">
                          <label class="for-checkbox-tools" for="TouchStart">
                            Touch Start
                          </label>

                          <input class="checkbox-tools" type="checkbox" value="Thumb Start" (ngModel)="carBrand"
                            name="carBrand" id="ThumbStart">
                          <label class="for-checkbox-tools" for="ThumbStart">
                            Thumb Start
                          </label>


                        </div>


                      </div>
                    </div>
                  </div>
                  <a class=" next btn btn-primary action-button btn-round" value="Next">Next <i
                      class="mdi mdi-arrow-right ps-1"></i></a>
                  <a class=" previous btn btn-primary action-button-previous btn-round" name="previous"
                    value="Previous">
                    <i class="mdi mdi-arrow-left ps-1"></i> Previous
                  </a>
                </fieldset>

                <!-- FINISH PAGE -->
                <fieldset>
                  <div class="form-card">
                    <div class="row">
                      <div class="col-7">
                        <h2 class="fs-title">Finish:</h2>
                      </div>
                      <div class="col-5">
                        <h2 class="steps">Step 10 - 10</h2>
                      </div>
                    </div> <br><br>
                    <h2 class="text-center" style="color:#40bed2;font-weight:600"><strong>SUCCESS !</strong></h2> <br>
                    <div class="row justify-content-center">
                      <div style="text-align: center;font-size: 70px;color: #388c7c;" class="col-3"> <i  class="mdi mdi-checkbox-marked-circle-outline"></i> </div>
                    </div> <br><br>
                    <div class="row justify-content-center">
                      <div class="col-7 text-center">
                        <h5 class=" text-center" style="color:#40bed2;font-weight:400">Your Response has been submitted
                          successfully</h5>
                        <div class="pt-4 mt-3 home-button">
                          <a (click)="goHome()" class="btn btn-primary btn-round text-uppercase">Back Home
                            <span class="home-btn"><i class="mdi mdi-chevron-left text-center"></i></span>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                </fieldset>
              </form>
            </div>
          </p-card>
        </div>
      </div>
    </div>

  </div>
</section>
