<app-header></app-header>
<!-- START HOME -->
<section class="section bg-home align-items-center d-flex" id="home">
  <div class="bg-overlay"></div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <div class="text-center text-white">
          <h1 class="home-title text-uppercase">Welcome to Carflix</h1>
          <div class="home-border my-3 mt-4"></div>
          <p class="home-subtitle pt-4 mx-auto">Tell us what you NEED, tell us your FEATURES and BUDGET <br> let get
            you the
            best deal in the market</p>
          <div class="pt-4 mt-3 home-button">
            <a (click)="gotoQuestionaire()" class="btn btn-primary btn-round text-uppercase">Talk to us
              <span class="play-shadow ms-2" data-bs-toggle="modal" data-bs-target="#watchvideomodal">
                <span class="home-btn"><i class="mdi mdi-chevron-right text-center"></i></span></span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END HOME -->

<!-- START TOP CARS -->
<section class="section bg-light" id="carMarket">
  <div class="container">
    <div class="row justify-content-center mb-4">
      <div class="col-lg-8">
        <div class="title-box text-center">
          <h5 class="sub-title text-primary text-uppercase">Car Market</h5>
          <h3 class="mt-3 fw-normal">Top Cars in the Market</h3>
          <div class="title-border"></div>
        </div>
      </div>

    </div>

    <div class="card">
      <p-table [value]="carList" [responsive]="true" scrollDirection="both" selectionMode="single" dataKey="id"
        [rows]="10" [showCurrentPageReport]="true" [loading]="loading" styleClass=" p-datatable-striped p-datatable-sm"
        responsiveLayout="scroll">
        <ng-template pTemplate="header">
          <tr class="header">
            <th rowspan="3" pSortableColumn="rank">Rank <p-sortIcon class="sortIcon" field="rank">
              </p-sortIcon>
            </th>
            <th rowspan="3" pSortableColumn="sketch">Sketch <p-sortIcon class="sortIcon" field="sketch">
              </p-sortIcon>
            </th>
            <th rowspan="3" pSortableColumn="carName">Company <p-sortIcon class="sortIcon" field="carName">
              </p-sortIcon>
            </th>
            <th rowspan="3" pSortableColumn="carName">Model <p-sortIcon class="sortIcon" field="carName">
              </p-sortIcon>
            </th>
            <th rowspan="3" pSortableColumn="year">Year <p-sortIcon field="year">
              </p-sortIcon>
            </th>
          </tr>


          <tr class="header">
            <th colspan="2" class="text-center">Foreign Used</th>
            <th rowspan="3" pSortableColumn="year" class="text-center">Nigeria use Price <p-sortIcon field="year">
              </p-sortIcon>
            </th>
          </tr>
          <tr class="subHeader ">
            <th class="text-center" pSortableColumn="minPrice">Min Price <p-sortIcon field="minPrice">
              </p-sortIcon>

            </th>
            <th class="text-center" pSortableColumn="maxPrice">Max Price <p-sortIcon field="maxPrice">
              </p-sortIcon>
            </th>

          </tr>


        </ng-template>
        <ng-template pTemplate="body" let-car>
          <tr (click)="viewCar()" style="cursor: pointer;">
            <td><span>First</span> </td>
            <td>
              <img style="height: 36px;width: 36px;border-radius: 12px;" [src]="'assets/images/cars/car1.jpg'"
                [alt]="car.carModel" width="100" class="shadow-4" />
            </td>
            <td><span>{{car.carCompany}}</span></td>
            <td><span>{{car.carModel}}</span></td>
            <td><span>{{car.carYear}}</span></td>
            <td class="text-center"> <span class="image-text"> {{car.minPrice | currency:'₦'}} <i
                  style="color: red;font-weight: 600;" class="mdi mdi-trending-down"></i></span> </td>
            <td class="text-center"> <span class="image-text"> {{car.maxPrice | currency:'₦'}} <i
                  style="color: rgb(12, 208, 12);font-weight: 600;" class="mdi mdi-trending-up"></i></span> </td>
            <td class="text-center"> <span class="image-text text-center"> {{car.maxPrice | currency:'₦'}}</span> </td>
          </tr>

        </ng-template>

      </p-table>
    </div>
    <div class="row mt-3">
      <div class="col-lg-12">
        <div class="mt-4 text-center">
          <a (click)="gotoCarmarket()" class="btn btn-primary btn-round">View More <i
              class="mdi mdi-arrow-right ps-1"></i></a>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- END TOP CARS -->


<!-- Hire-an-inspector -->

<section id="hireInspector">
  <div class="container-xxl service py-5 ">
    <div class="container">
      <div class="text-center wow fadeInUp mb-2" data-wow-delay="0.1s">

        <h5 class="sub-title text-primary text-uppercase">Hire</h5>
        <h3 class="mt-3 fw-normal ">Hire an inspector</h3>
        <div class="title-border mb-3"></div>
      </div>
      <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
        <div class="col-lg-4">
          <div class="nav w-100 nav-pills me-4">
            <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4 active" data-bs-toggle="pill"
              data-bs-target="#tab-pane-1" type="button">
              <i class="fa fa-car-side fa-2x me-3"></i>
              <h4 class="m-0">Diagnostic Test</h4>
            </button>
            <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill"
              data-bs-target="#tab-pane-2" type="button">
              <i class="fa fa-car fa-2x me-3"></i>
              <h4 class="m-0">Engine Servicing</h4>
            </button>
            <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4" data-bs-toggle="pill"
              data-bs-target="#tab-pane-3" type="button">
              <i class="fa fa-cog fa-2x me-3"></i>
              <h4 class="m-0">Tires Replacement</h4>
            </button>
            <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-0" data-bs-toggle="pill"
              data-bs-target="#tab-pane-4" type="button">
              <i class="fa fa-oil-can fa-2x me-3"></i>
              <h4 class="m-0">Oil Changing</h4>
            </button>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="tab-content w-100">
            <div class="tab-pane fade show active" id="tab-pane-1">
              <div class="row g-4">
                <div class="col-md-6" style="min-height: 350px;">
                  <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100"
                      src="../../../assets/images/instructor/service-1.jpg" style="object-fit: cover;" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <h3 class="mb-3">You have a car you want you like and want to buy?</h3>
                  <p class="mb-4">Hire our
                    Inspector to help you inspect it and drive it to your location, easy and
                    cheap</p>
                  <p><i class="mdi mdi-checkbox-multiple-marked-circle text-success me-3"></i>Quality Servicing</p>
                  <p><i class="mdi mdi-checkbox-multiple-marked-circle text-success me-3"></i>Expert Workers</p>
                  <p><i class="mdi mdi-checkbox-multiple-marked-circle text-success me-3"></i>Modern Equipment</p>
                  <a class="btn btn-primary btn-round" (click)="hireInspector()">Hire <i
                      class="mdi mdi-arrow-right ps-1"></i></a>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab-pane-2">
              <div class="row g-4">
                <div class="col-md-6" style="min-height: 350px;">
                  <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100"
                      src="../../../assets/images/instructor/service-2.jpg" style="object-fit: cover;" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <h3 class="mb-3">You have a car you want you like and want to buy?</h3>
                  <p class="mb-4">Hire our
                    Inspector to help you inspect it and drive it to your location, easy and
                    cheap</p>
                  <p><i class="mdi mdi-checkbox-multiple-marked-circle text-success me-3"></i>Quality Servicing</p>
                  <p><i class="mdi mdi-checkbox-multiple-marked-circle text-success me-3"></i>Expert Workers</p>
                  <p><i class="mdi mdi-checkbox-multiple-marked-circle text-success me-3"></i>Modern Equipment</p>
                  <a class="btn btn-primary btn-round" (click)="hireInspector()">Hire <i
                      class="mdi mdi-arrow-right ps-1"></i></a>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab-pane-3">
              <div class="row g-4">
                <div class="col-md-6" style="min-height: 350px;">
                  <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100"
                      src="../../../assets/images/instructor/service-3.jpg" style="object-fit: cover;" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <h3 class="mb-3">You have a car you want you like and want to buy?</h3>
                  <p class="mb-4">Hire our
                    Inspector to help you inspect it and drive it to your location, easy and
                    cheap</p>
                  <p><i class="mdi mdi-checkbox-multiple-marked-circle text-success me-3"></i>Quality Servicing</p>
                  <p><i class="mdi mdi-checkbox-multiple-marked-circle text-success me-3"></i>Expert Workers</p>
                  <p><i class="mdi mdi-checkbox-multiple-marked-circle text-success me-3"></i>Modern Equipment</p>
                  <a class="btn btn-primary btn-round" (click)="hireInspector()">Hire <i
                      class="mdi mdi-arrow-right ps-1"></i></a>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="tab-pane-4">
              <div class="row g-4">
                <div class="col-md-6" style="min-height: 350px;">
                  <div class="position-relative h-100">
                    <img class="position-absolute img-fluid w-100 h-100"
                      src="../../../assets/images/instructor/service-4.jpg" style="object-fit: cover;" alt="">
                  </div>
                </div>
                <div class="col-md-6">
                  <h3 class="mb-3">You have a car you want you like and want to buy?</h3>
                  <p class="mb-4">Hire our
                    Inspector to help you inspect it and drive it to your location, easy and
                    cheap</p>
                  <p><i class="mdi mdi-checkbox-multiple-marked-circle text-success me-3"></i>Quality Servicing</p>
                  <p><i class="mdi mdi-checkbox-multiple-marked-circle text-success me-3"></i>Expert Workers</p>
                  <p><i class="mdi mdi-checkbox-multiple-marked-circle text-success me-3"></i>Modern Equipment</p>
                  <a class="btn btn-primary btn-round" (click)="hireInspector()">Hire <i
                      class="mdi mdi-arrow-right ps-1"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Hire-an-inspector -->

<!-- Carflix APP -->
<section style="    padding-bottom: 45px;" class="section bg-light" id="carflixapp">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-12">
        <div class="title-box">
          <h5 class="sub-title text-primary text-uppercase">CarFlix Application</h5>
          <h3 class="mt-2 fw-normal">Our Application Features</h3>
          <div class="title-border"></div>
        </div>
      </div>
    </div>
    <div class="row mt-2 pt-4 align-items-center">
      <div class="col-lg-6 mb-4">
        <div class="row mt-4">
          <div class="col-lg-4 col-md-4 ">
            <div class="service-box mt-4">
              <div class="services-icon">
                <img src="https://img.icons8.com/color/48/000000/billboard.png" alt="">
              </div>
              <div class="mt-3 align-items-center">
                <h5 class="mb-3 f-17 mt-4">Adverts</h5>


              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4">
            <div class="service-box mt-4">
              <div class="services-icon">
                <img src="https://img.icons8.com/color/48/000000/carpool.png" alt="">
              </div>
              <div class="mt-3 align-items-center">
                <h5 class="mb-3 f-17 mt-4">Car Auctioning</h5>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4">
            <div class="service-box  mt-4">
              <div class="services-icon">
                <img src="https://img.icons8.com/color/48/000000/mobile-payment.png" alt="">
              </div>
              <div class="mt-3 align-items-center">
                <h5 class="mb-3 f-17 mt-4">P2p payments directly to car dealers</h5>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-4">
            <div class="service-box mt-4">
              <div class="services-icon">
                <img src="https://img.icons8.com/color/50/000000/user-male.png" alt="">
              </div>
              <div class="mt-3 align-items-center">
                <h5 class="mb-3 f-17 mt-4">Agent Car Inspection (Free for Buyers/Dealers)</h5>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-4">
            <div class="service-box mt-4">
              <div class="services-icon">
                <img src="https://img.icons8.com/color/48/000000/point-objects.png" alt="">
              </div>
              <div class="mt-3 align-items-center">
                <h5 class="mb-3 f-17 mt-4">Location Mapping and Transport Calculations</h5>
              </div>
            </div>
          </div>


          <div class="col-lg-4 col-md-4">
            <div class="service-box mt-4">
              <div class="services-icon">
                <img src="https://img.icons8.com/color/48/000000/android-os.png" alt="">
              </div>
              <div class="mt-3 align-items-center">
                <h5 class="mb-3 f-17 mt-4">Strategy Solutions</h5>
              </div>
            </div>
          </div>

        </div>


        <div class="row mt-4  text-center">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="featutes-box active p-4">
              <a href="" class="  py-3 px-5 mt-3"> <i class="fa-brands fa-android fa-2x" style="color: black;"></i></a>
              <p>Andriod APK</p>
            </div>

          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="featutes-box active p-4">
              <a href="" class=" py-3 px-5 mt-3"><i class="fa-brands fa-apple fa-2x" style="color: black;"></i></a>
              <p>iOS</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div class="featutes-box active p-4">
              <a href="" class=" py-3 px-5 mt-3"><i class="fa-solid fa-code fa-2x" style="color: black;"></i></a>
              <p>Web</p>
            </div>
          </div>



        </div>

      </div>

      <div class="col-lg-6 col-md-6 ">
        <div class="accordion faq-box mt-4" id="accordionExample">



          <img src="../../../assets/images/dualmobile2.png" alt="">

        </div>

      </div>
    </div>
  </div>
  <!-- START GET STARTED -->
  <div class="section-lg bg-cta" style="    padding-bottom: 2px;padding-top: 40px;position: relative;">
    <div class="bg-overlay launching-soon"></div>
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-lg-8">
          <div class="title-box">
            <h3 class="text-white fw-normal">We are Lauching Soon !!!</h3>
            <div class="title-border"></div>

            <div class="quiz-top-area text-center">
              <!-- <h1>Personality Survey Quiz</h1> -->
              <div class="quiz-countdown text-center ul-li">
                <ul class="min-length">
                  <li class="days">
                    <span class="count-down-number"></span>
                    <span class="count-unit">Days</span>
                  </li>

                  <li class="hours">
                    <span class="count-down-number"></span>
                    <span class="count-unit">Hours</span>
                  </li>

                  <li class="minutes">
                    <span class="count-down-number"></span>
                    <span class="count-unit">Min</span>
                  </li>

                  <li class="seconds">
                    <span class="count-down-number"></span>
                    <span class="count-unit">Sec</span>
                  </li>
                </ul>
              </div>
            </div>

            <div class="container py-2">
              <div class="row g-5">
                <div class="col-lg-12 col-md-6">
                  <h4 class="text-light mb-4">Enter Email to recieve a reminder</h4>
                  <div class="position-relative mx-auto" style="max-width: 600px;    padding-bottom: 30px;">
                    <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
                    <button style="border-radius: 0px !important;" type="button"
                      class="btn btn-primary position-absolute top-0 end-0" style="padding-bottom: 12px;">Send <i
                        class="mdi mdi-send"></i> </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END GET STARTED -->
</section>
<!-- Carflix APP -->

<!-- CARFLIX ENROLLMENT SECTION -->
<section style="    padding-top: 46px;" class="section bg-light" id="enrollment">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-7">
        <div class="title-box">
          <h5 class="sub-title text-primary text-uppercase">Car Enrollment</h5>
          <h3 class="mt-2 fw-normal">Let get you started with us today</h3>
          <div class="title-border"></div>
        </div>
      </div>
    </div>

    <div class="row mt-2 pt-1">
      <div class="col-lg-4">
        <div class="work-box work-border text-center p-4">
          <div class="work-img">
            <img src="../../../assets/images/users/dealer.png" alt="" class="img-fluid">
          </div>

          <div class="work-contain">
            <h1 class="work-count text-muted display-2 fw-normal">01</h1>
            <div class="work-desc">
              <h4 class="f-17">Are you a Car Dealer</h4>

            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="work-box work-border text-center p-4">
          <div class="work-img">
            <img src="../../../assets/images/users/bulkcar.png" alt="" class="img-fluid">
          </div>
          <div class="work-contain">
            <h1 class="work-count text-muted display-2 fw-normal">02</h1>
            <div class="work-desc">
              <h4 class="f-17">Do you have bulk cars to upload?</h4>


            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="work-box text-center p-4">
          <div class="work-img">
            <img src="../../../assets/images/users/needHelp.png" alt="" class="img-fluid">
          </div>
          <div class="work-contain">
            <h1 class="work-count text-muted display-2 fw-normal">03</h1>
            <div class="work-desc">
              <h4 class="f-17">Need help Uploading your car?</h4>


            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-lg-12">
        <div class="mt-4 text-center">
          <h6 class="mt-4 pt-2" style="color: gray;font-size: larger;"> Signup to our special car dealer onboarding
            page <br>and we can help you bring in all your cars to our platform</h6>
          <a href="https://cardealers.carflix.ng/#/app/89054" target="_blank"
            class="mt-2 btn btn-primary btn-round">Enroll Now<i class="mdi mdi-arrow-right ps-1"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END CARFLIX ENROLLMENT SECTION -->

<!-- FOLLOW US AND FOOTER -->
<section class="bg-footer" id="followUs" style="    background: #132527;padding-top: 26px;padding-bottom: 10px;">
  <div class="container">
    <div class="row follow-us">
      <div class="col-lg-6">
        <div class="mt-4">
          <h5 class="f-17 text-white fw-normal">Get in touch</h5>
          <p class="text-white-50 mt-3 pt-1"> Get the best from our services by subscribing to us today!</p>
          <div class="position-relative mx-auto" style="max-width: 600px;    padding-bottom: 0px;">
            <input class="form-control border-0 w-100 py-3 ps-4 pe-5" type="text" placeholder="Your email">
            <button style="border-radius: 0px !important;" type="button"
              class="btn btn-primary position-absolute top-0 end-0" style="padding-bottom: 12px;">Send <i
                class="mdi mdi-send"></i></button>
          </div>
        </div>
      </div>
      <div class="col-lg-2"></div>
      <div class="col-lg-4">
        <div class="mt-4 social-links">
          <h5 class="f-17 text-white fw-normal">Join our Community</h5>
          <ul class="mt-3 pt-1 list-unstyled list-inline mb-0 ">
            <li class="list-inline-item"><a href="" class="whatsapp"><i class="mdi mdi-whatsapp"></i></a></li>
            <li class="list-inline-item"><a href="" class="facebook"><i class="mdi mdi-facebook"></i></a></li>
            <li class="list-inline-item"><a href="" class="twitter"><i class="mdi mdi-twitter"></i></a></li>
            <li class="list-inline-item"><a href="" class="instagram"><i class="mdi mdi-instagram"></i></a></li>
            <li class="list-inline-item"><a href="" class="telegram"><i class="mdi mdi-telegram"></i></a></li>
          </ul>
        </div>
      </div>


    </div>

    <hr class="my-3">

    <div class="row">
      <div class="col-lg-12">
        <p class="text-white-50 text-center mb-0">
          Copyright © 2022 Carflix Nigeria. All Right Reserved.
        </p>

      </div>

    </div>

  </div>
</section>
