<!-- START  NAVBAR -->
<nav style="    background-color: #223b40;
   box-shadow: 0 0 20px rgb(0 0 0 / 6%);
   padding: 7px 0px;" class="navbar navbar-expand-lg fixed-top navbar-custom sticky sticky-light mb-3" id="navbar">
  <div class="container">
    <a class="navbar-brand logo text-uppercase" href="index.html">
      <img src="assets/images/logos.png" alt="" height="34" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="mdi mdi-menu"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mx-auto" id="navbar-navlist">
        <li class="nav-item">
            <a class="nav-link" href="#article">Articles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#hireInspector">Hire Inspector</a>
        </li> 
        <li class="nav-item">
            <a class="nav-link" href="#carflixapp">Carflix App</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#article">Article</a>
      </li> -->
        <li class="nav-item">
            <a class="nav-link" href="#enrollment">Car Dealer Enroll</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#followUs">Contact Us</a>
        </li>

    </ul>

      <div>
        <ul class="top-right text-end list-unstyled list-inline mb-0 nav-social d-none d-lg-block">
          <li class="list-inline-item"><a href="" class="facebook"><i class="mdi mdi-facebook"></i></a>
          </li>
          <li class="list-inline-item"><a href="" class="twitter"><i class="mdi mdi-twitter"></i></a></li>
          <li class="list-inline-item"><a href="" class="instagram"><i class="mdi mdi-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<!-- END NAVBAR -->




<section class="section bg-light mt-5" id="work">
  <div class="m-5">
    <div class="row justify-content-center text-center">
      <div class="col-lg-7">
        <div class="title-box">
          <h5 class="sub-title text-primary text-uppercase">Car Market</h5>
          <h3 class="mt-2 fw-normal">View our top Car Markets</h3>
          <p class=" text-sm" style="font-weight: 300;color: slategray;
      ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quaerat est quae nulla quos
            harum</p>
          <div class="title-border"></div>
        </div>
      </div>
    </div>


    <div class="row mt-4 mb-5">
      <!-- FEATURED MARKET -->
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="featuredCard card">
          <div class="row card-body">
            <div class="trend">
              <img src="https://s2.coinmarketcap.com/static/cloud/img/TrendingIcon.png?_=5362070">
              <span>Trending Cars</span>
              <a class="view-more" (click)="showMoreTrendingCars()" label="Long Content"><span>More <i
                    class="fa fa-chevron-right"></i></span> </a>
            </div>
            <table class="mt-2 table table-borderless table-condensed table-hover">

              <tbody>
                <tr *ngFor="let list of trendingCarList;let i=index">
                  <td *ngIf="i<4"><span class="text-muted">{{i+1}}</span></td>
                  <td *ngIf="i<4">
                    <img class="img-rounded" src="{{list.bluePrint}}" alt="{{list.carName}}">
                  </td>
                  <td (click)="viewCar(list)" *ngIf="i<4"><span class="mr-3">{{list.carName}}</span> </td>
                  <td *ngIf="i<4"><span class="car-price"> {{list.nigeriaUsedPrice |currency:"₦"}}</span></td>
                </tr>
              </tbody>
            </table>


          </div>
        </div>

      </div>


      <!-- LATEST CARS  -->
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="featuredCard card">
          <div class="row card-body">


            <div class="trend">
              <img style="height: 30px;" src="https://s2.coinmarketcap.com/static/cloud/img/AddIcon.png?_=5362070">
              <span>Lastest Cars</span>
              <a class="view-more" (click)="showMoreLatestCars()" label="Long Content"><span>More <i
                    class="fa fa-chevron-right"></i></span> </a>
            </div>
            <table class="mt-2 table table-borderless table-condensed table-hover">

              <tbody>
                <tr *ngFor="let list of latestCarList;let i=index">
                  <td *ngIf="i<4"><span class="text-muted">{{i+1}}</span></td>
                  <td *ngIf="i<4">
                    <img class="img-rounded" src="{{list.bluePrint}}" alt="{{list.carName}}">
                  </td>
                  <td (click)="viewCar(list)" *ngIf="i<4"><span class="mr-3">{{list.carName}}</span></td>
                  <td *ngIf="i<4"><span class="car-price"> {{list.nigeriaUsedPrice |currency:"₦"}}</span></td>
                </tr>
              </tbody>
            </table>

          </div>

        </div>
      </div>

      <!-- TOP CARS -->
      <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="featuredCard card">
          <div class="row card-body">
            <div class="trend">
              <img style="    height: 30px;"
                src="https://s2.coinmarketcap.com/static/cloud/img/GainnerIcon.png?_=5362070">
              <span>Top Cars</span>
              <a class="view-more" (click)="showMoreTopCars()" label="Long Content"><span>More <i
                    class="fa fa-chevron-right"></i></span> </a>
            </div>
            <table class="mt-2 table table-borderless table-condensed table-hover">

              <tbody>
                <tr *ngFor="let list of topCarList;let i=index">
                  <td *ngIf="i<4"><span class="text-muted">{{i+1}}</span></td>
                  <td *ngIf="i<4">
                    <img class="img-rounded" src="{{list.bluePrint}}" alt="{{list.carName}}">
                  </td>
                  <td (click)="viewCar(list)" *ngIf="i<4"><span class="mr-3">{{list.carName}}</span></td>
                  <td *ngIf="i<4"><span class="car-price"> {{list.nigeriaUsedPrice |currency:"₦"}}</span></td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row">
        <div class="col"></div>
        <div class="col">
          <div class="filter">
            <span class="p-input-icon-left float-right">
              <i class="pi pi-search"></i>
              <input type="text" class="p-inputtext-sm" [(ngModel)]="filterText" name="filterText" pInputText
                placeholder="Search e.g Toyota" />



            </span>
            <p-button label="Filter" styleClass=" p-button-sm" (click)="filterCarByBrand()"></p-button>
          </div>

        </div>

      </div>

      <div class="card mt-4">
        <p-table [value]="carList" [responsive]="true" scrollDirection="both" selectionMode="single" dataKey="id"
          [rows]="10" [showCurrentPageReport]="true" [loading]="loading"
          styleClass=" p-datatable-striped p-datatable-sm" responsiveLayout="scroll">

          <ng-template pTemplate="header">
            <tr class="header">
              <!-- <th rowspan="3" pSortableColumn="rank">Rank <p-sortIcon class="sortIcon" field="rank">
            </p-sortIcon>
          </th> -->
              <th rowspan="3" pSortableColumn="sketch">Sketch <p-sortIcon class="sortIcon" field="sketch">
                </p-sortIcon>
              </th>
              <th rowspan="3" pSortableColumn="carName">Company <p-sortIcon class="sortIcon" field="carName">
                </p-sortIcon>
              </th>
              <th rowspan="3" pSortableColumn="carName">Model <p-sortIcon class="sortIcon" field="carName">
                </p-sortIcon>
              </th>
              <th rowspan="3" pSortableColumn="carYear">Year <p-sortIcon field="carYear">
                </p-sortIcon>
              </th>
            </tr>


            <tr class="header">
              <th colspan="2" class="text-center">Foreign Used</th>
              <th rowspan="3" pSortableColumn="nigeriaUsedPrice" class="text-center">Nigeria use Price <p-sortIcon
                  field="nigeriaUsedPrice">
                </p-sortIcon>
              </th>
            </tr>
            <tr class="subHeader ">
              <th class="text-center" pSortableColumn="foreignUsedMinPrice">Min Price <p-sortIcon
                  field="foreignUsedMinPrice">
                </p-sortIcon>

              </th>
              <th class="text-center" pSortableColumn="foreignUsedMaxPrice">Max Price <p-sortIcon
                  field="foreignUsedMaxPrice">
                </p-sortIcon>
              </th>

            </tr>


          </ng-template>

          <ng-template pTemplate="body" let-car>
            <tr (click)="viewCar(car)" style="cursor: pointer;">
              <!-- <td><span>First</span> </td> -->
              <td>
                <img style="height: 36px;width: 36px;border-radius: 12px;" src="{{car.bluePrint}}" [alt]="car.carModel"
                  width="100" class="shadow-4" />
              </td>
              <td><span>{{car.carCompany}}</span></td>
              <td><span>{{car.carName}}</span></td>
              <td><span>{{car.carYear}}</span></td>
              <td class="text-center"> <span class="image-text"> {{car.foreignUsedMinPrice | currency:'₦'}} </span>
              </td>
              <td class="text-center"> <span class="image-text"> {{car.foreignUsedMaxPrice | currency:'₦'}} </span>
              </td>
              <td class="text-center"> <span class="image-text text-center"> {{car.nigeriaUsedPrice |
                  currency:'₦'}}</span> </td>
            </tr>

          </ng-template>

        </p-table>
      </div>



      <div class="row mt-3">
        <div class="col-lg-12">
          <div class="mt-4 text-center">
            <a (click)="gotoHome()" class="btn btn-primary btn-round">Back Home <i
                class="mdi mdi-arrow-left ps-1"></i></a>
          </div>
        </div>
      </div>
    </div>

  </div>

  <p-dialog header="{{rank}} Cars" [breakpoints]="{'960px': '75vw'}" [style]="{width: '50vw'}" [modal]="true"
    [maximizable]="true" [draggable]="false" [resizable]="false" [(visible)]="displayCarPopUp"
    [style]="{width: '70vw'}">

    <p-table [value]="carRankList" [responsive]="true" scrollDirection="both" selectionMode="single" dataKey="id"
      [rows]="10" [showCurrentPageReport]="true" [loading]="loading" styleClass=" p-datatable-striped p-datatable-sm"
      responsiveLayout="scroll">

      <ng-template pTemplate="header">
        <tr class="header">

          <th rowspan="3" pSortableColumn="sketch">Sketch <p-sortIcon class="sortIcon" field="sketch">
            </p-sortIcon>
          </th>
          <th rowspan="3" pSortableColumn="carName">Company <p-sortIcon class="sortIcon" field="carName">
            </p-sortIcon>
          </th>
          <th rowspan="3" pSortableColumn="carName">Model <p-sortIcon class="sortIcon" field="carName">
            </p-sortIcon>
          </th>
          <th rowspan="3" pSortableColumn="carYear">Year <p-sortIcon field="carYear">
            </p-sortIcon>
          </th>
        </tr>


        <tr class="header">
          <th colspan="2" class="text-center">Foreign Used</th>
          <th rowspan="3" pSortableColumn="nigeriaUsedPrice" class="text-center">Nigeria use Price <p-sortIcon
              field="nigeriaUsedPrice">
            </p-sortIcon>
          </th>
        </tr>
        <tr class="subHeader ">
          <th class="text-center" pSortableColumn="foreignUsedMinPrice">Min Price <p-sortIcon
              field="foreignUsedMinPrice">
            </p-sortIcon>

          </th>
          <th class="text-center" pSortableColumn="foreignUsedMaxPrice">Max Price <p-sortIcon
              field="foreignUsedMaxPrice">
            </p-sortIcon>
          </th>

        </tr>


      </ng-template>

      <ng-template pTemplate="body" let-car>
        <tr (click)="viewCar(car)" style="cursor: pointer;">
          <!-- <td><span>First</span> </td> -->
          <td>
            <img style="height: 36px;width: 36px;border-radius: 12px;" src="{{car.bluePrint}}" [alt]="car.carModel"
              width="100" class="shadow-4" />
          </td>
          <td><span>{{car.carCompany}}</span></td>
          <td><span>{{car.carName}}</span></td>
          <td><span>{{car.carYear}}</span></td>
          <td class="text-center"> <span class="image-text"> {{car.foreignUsedMinPrice | currency:'₦'}} </span> </td>
          <td class="text-center"> <span class="image-text"> {{car.foreignUsedMaxPrice | currency:'₦'}} </span> </td>
          <td class="text-center"> <span class="image-text text-center"> {{car.nigeriaUsedPrice |
              currency:'₦'}}</span> </td>
        </tr>

      </ng-template>

    </p-table>
    <ng-template pTemplate="footer">
      <p-button icon="pi pi-check" (click)="displayCarPopUp=false" label="Close" styleClass="p-button-text"></p-button>
    </ng-template>
  </p-dialog>
</section>
<app-footer></app-footer>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#388c7c" type="ball-clip-rotate-multiple"
  [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>