


:host ::ng-deep .p-datatable .header .p-sortable-column .p-highlight:hover .p-sortable-column-icon {
  color: #388c7c !important;
}
:host ::ng-deep .p-datatable .header .p-sortable-column .p-sortable-column-icon {
  color: #388c7c !important;
  margin-left: 0.5rem;
  font-size: 10px;
}


:host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-footer {
  background: rgba(56, 140, 124, 0.1);
  color: #388c7c;
}

:host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-footer .show-moreCars {
  background: rgba(56, 140, 124, 0.1);
  padding: 0px 20px;
  display: inline-block;
  border-radius: 30px;
  font-weight: 500;
  font-size: 13px;
  float: right;
  cursor: pointer;
}

:host ::ng-deep .p-datatable.p-datatable-sm .p-datatable-footer .show-moreCars:hover {
  background: #388c7c;
  padding: 0px 20px;
  display: inline-block;
  border-radius: 30px;
  font-weight: 500;
  font-size: 13px;
  float: right;
  color: white;
  cursor: pointer;
}

:host ::ng-deep .p-datatable table {
  border-collapse: collapse;
  /* min-width: 70%; */
  table-layout: fixed;
}


:host ::ng-deep .p-datatable-table .header> th {
  background: rgba(56, 140, 124, 0.1);
  color: #388c7c;
  font-size: 15px;
}
:host ::ng-deep .p-inputtext.p-inputtext-sm {
  font-size: 0.875rem;
  padding: 0.4rem 0.65625rem;
}
:host ::ng-deep .p-input-icon-left > .p-inputtext {
  padding-left: 2.5rem;
}

:host ::ng-deep .p-input-icon-left > i:first-of-type {
  left: 1rem;
  color: #6c757d;
}
.filter{
  float:right
}
:host ::ng-deep  .p-button.p-button-sm {
  font-size: 0.875rem;
  padding: 0.35rem 0.9rem;
  margin-left: 12px;
  background: #388c7c;
color: #ffffff;
border-color: #388c7c;
}

:host ::ng-deep .p-datatable-table .subHeader> th {
  background: #e1ecee;
  color: #388c7d;
  font-size: 15px;
}
:host ::ng-deep .p-datatable .subHeader  .p-sortable-column .p-sortable-column-icon{
  color: #388c7c !important;
}
:host ::ng-deep .p-datatable .subHeader .p-sortable-column .p-sortable-column-icon {
  color: #388c7c !important;
  margin-left: 0.5rem;
  font-size: 10px;
}
:host ::ng-deep .p-dropdown {
  width: 14rem;
}

.featuredCard{
  /* width: 448px; */
  box-shadow: rgb(88 102 126 / 8%) 0px 4px 24px, rgb(88 102 126 / 12%) 0px 1px 2px;
  border-radius: 8px;
  /* padding: 14px 16px 17px; */
  border: 3px solid #efefef;
}

.img-rounded{
  height: 24px;
  width: 24px;
  border-radius: 12px;

}
.car-price{
  color:#16c784
}

.table-borderless td,
.table-borderless th {
    border: 0;
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}
.trend>span{
  font-weight: bold;
    font-size: 16px;
    margin-left: 5px;
}
.trend{
  display: flex;
    -webkit-box-align: center;
    align-items: center;
}
.view-more{
  float: right;
  margin-left: auto;
  cursor: pointer;
  font-weight: 700;
}